<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"   
    colors                      = "true"
    > 
    <testsuites>
        <testsuite name="TestAgentLog">
            <file>tests/TestAgentLog.php</file>
            <directory>tests</directory>
        </testsuite>
        <testsuite name="TestMessage">
            <file>tests/TestMessage.php</file>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory="test-report"
            includeUncoveredFiles="true"
            processUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
        <include>
            <directory>src</directory>
        </include>
    </coverage>
</phpunit>